.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1vmin solid #999;
  float: left;
  font-size: 12vmin;
  font-weight: bold;
  line-height: 20vmin ;
  height: 20vmin;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20vmin;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
